@model IEnumerable<WebApplication1.Models.Genre>

<h2>Genres List</h2>

<a asp-action="Create" class="btn btn-primary">Create New Genre</a>

<table class="table table-bordered mt-3">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var genre in Model)
    {
        <tr>
            <td>@genre.Id</td>
            <td>@genre.Name</td>
        </tr>
    }
    </tbody>
</table>